<h1 id="title">Songs Sorted by Rating</h1>

{{#each (sort_rating data)}}
<article class="entry">
    <h2 id="entrytitle">{{this.title}}</h2>
    <div class="content">
        <div id="artists">Artist(s): {{this.artists}} </div>
        <div id="genres">Genre(s): {{this.genres}}</div>
        <div id="language">Primary language: {{this.language}}</div>
        <div id="rating">Average rating: {{ divide this.rate this.suggested }}</div>
    </div>
</article>
{{else}}

<article>
    <h1>There are no song recs yet. :(</h1>
    <a href="/create">Create the first one!</a>
</article>
{{/each}}