<br>


<div id="genreoptions">
    {{#each genres}}
    <button class="genre" type="button">{{this}}</button>
    {{/each}}
</div>


<ul class="showlist">
    {{#each data}}
    <div class="listdiv" hidden>
        <li class="showlistitem">
            <a href="/show/{{this.title}}" class="showlink">
                <div class="entry">
                    <h2 id="entrytitle">{{this.title}}</h2>
                    <div class="content">
                        <div id="network"><b style="font-weight:600">Network:</b> {{this.network}} </div>
                        <div id="artists"><b style="font-weight:600">Actor(s):</b> {{this.actors}} </div>
                        <div id="genres"><b style="font-weight:600">Genre(s):</b> {{this.genres}}</div>
                        <div id="language"><b style="font-weight:600">Primary language:</b> {{this.language}}</div>
                        <div id="rating"><b style="font-weight:600">Rating (as seen on IMDb):</b> {{this.rating}}</div>
                    </div>
                </div>
            </a>
        </li>
    </div>
    {{/each}}
</ul>

<article id="noGenre" hidden="hidden">
    <h1>There are no TV shows with this genre yet. :(</h1>
    <a href="/addshow">Create the first one!</a>
</article>

<script>
    $(document).ready(function () {
        $('.genre').on('click', function (){
            var count = 0;
            let g = $(this).text().toLowerCase();

            $("button").each(function(index, element) { 
                element.style.background = "white";
                element.style.color = "black";
            });

            $(this).css('background-color', "#1DB954");
            $(this).css('color', 'white');

            $(".listdiv").each(function (index, element) {
                var _genres = $(element).find("#genres").text().split(": ")[1].split(",");
                _genres = $.map(_genres, function(n, i){
                    return n.toLowerCase();
                });

                if(_genres.includes(g)){
                    $(this).show();
                    count++;
                } else {
                    $(this).fadeOut();
                }
            });
        });
    });
</script>