<br>

<input id="search" name="search" type="text" placeholder="Search by title...">

<ul class="showlist">
    {{#each data}}
    <li class="showlistitem">
        <a href="/show/{{this.title}}" class="showlink">
            <div class="entry">
                <h2 id="entrytitle">{{this.title}}</h2>
                <div class="content">
                    <div id="network"><b style="font-weight:600">Network:</b> {{this.network}} </div>
                    <div id="artists"><b style="font-weight:600">Actor(s):</b> {{this.actors}} </div>
                    <div id="genres"><b style="font-weight:600">Genre(s):</b> {{this.genres}}</div>
                    <div id="language"><b style="font-weight:600">Primary language:</b> {{this.language}}</div>
                    <div id="rating"><b style="font-weight:600">Rating (as seen on IMDb):</b> {{this.rating}}</div>
                </div>
            </div>
        </a>
    </li>
    {{else}}
</ul>

<article>
    <h1>There are no TV shows yet. :(</h1>
    <a href="/create">Add the first one!</a>
</article>
{{/each}}

<article id="noMatches" hidden="hidden">
    <h1>No matches found!</h1>
</article>

<script>
    $(document).ready(function () {
        $("#search").keyup(function () {
            var word = $(this).val().toLowerCase();
            var count = 0;

            $(".entry").each(function (index, element) {
                var _title = $(element).find("#entrytitle").text().toLowerCase();

                if (_title.search(new RegExp(word, "i")) < 0) {
                    $(this).fadeOut();
                }
                else {
                    $(this).show();
                    count++;
                }
            });

            if (count == 0) {
                $("#noMatches").show();
            }
            else {
                $("#noMatches").hide();
            }

        });

    });

</script>