<h1 id="title">TV Shows Sorted by Most Reviews:</h1>

<ul class="showlist">
    {{#each data}}
    <li class="showlistitem">
        <a href="/show/{{this.title}}" class="showlink">
            <div class="entry">
                <h2 id="entrytitle">{{this.title}}</h2>
                <div class="content">
                    <div id="network"><b style="font-weight:600">Network:</b> {{this.network}} </div>
                    <div id="artists"><b style="font-weight:600">Actor(s):</b> {{this.actors}} </div>
                    <div id="genres"><b style="font-weight:600">Genre(s):</b> {{this.genres}}</div>
                    <div id="language"><b style="font-weight:600">Primary language:</b> {{this.language}}</div>
                    <div id="rating"><b style="font-weight:600">Rating (as seen on IMDb):</b> {{this.rating}}</div>
                </div>
            </div>
        </a>
    </li>
    {{else}}
</ul>

<article>
    <h1>There are no TV shows yet. :(</h1>
    <a href="/addshow">Add the first one!</a>
</article>
{{/each}}