<article class="showdisplay">
    <h1 id="showtitle">
        <font size="+3">{{_title}}</font>
    </h1>

    <li><b>Network:</b> {{_network}}</li>
    <li><b>Actor(s):</b> {{_actors}}</li>
    <li><b>Genre(s):</b> {{_genres}}</li>
    <li><b>Primary language:</b> {{_language}}</li>
    <li><b>Rating (as seen on IMDb):</b> {{_rating}}</li>

    <h1 id="showtitle">Reviews:</h1>
    <b>Average rating:</b> {{ avgRating _reviews }} <br /> <br />
    <div id="submit"><button type="button" id="addreview"><b>Add new review</b></button></div>
    <br />
    
    {{#each _reviews}}
    <div class="review">
        <b>Author:</b> {{this.author}} <br />
        <b>Publisher:</b> {{this.publisher}} <br />
        <b>Rating:</b> {{this.rating}} <br />
        <b>Review:</b> {{this.text}} <br />
        <br />
    </div>
    {{/each}}

    <h1 id="showtitle">Comments:</h1>
    <!-- <a class="add" id="addcomment" href="">Add a comment</a> -->

    <div class="comments">
        {{#each _comments}}
        <b>Username:</b> {{this.username}} <br />
        <b>Comment:</b> {{this.text}} <br />
        <br />
        {{/each}}
    </div>

    <div id="snackbar">New comment added at {{ getTime }}!</div>

    <article id="commentform">
        <form id="post" method="POST" action="">
            <div class="input-field">
                <label><b>Username: </b></label>
                <input class="input-text" id="user" type="text" name="username" size="50" placeholder="Name...">
            </div>
            <div class="input-field">
                <label><b>Comment: </b></label>
                <textarea class="input-text" id="text" rows="100" cols="100" name="comment" size="50"
                    placeholder="Type here..."></textarea>
            </div>

            <div id="submit"><button type="submit" id="submit"><b>Submit</b></button></div>
        </form>
    </article>

    <script>
        document.getElementById("text").style.height = "100px";

        var socket = io();

        $('#post').submit(function () {
            var user = $('#user').val();
            var comment = $('#text').val();
            $('#user').val('');
            $('#text').val('');
            var title = $('#showtitle').text().trim()

            $.ajax({
                type: "POST",
                url: '/show/' + title + '/add-comment',
                data: {
                    username: user,
                    text: comment
                },
                success: function (data, status) {
                    console.log(data);
                }
            });
            return false;
        });

        socket.on('new comment', function (com) {
            $('#snackbar').addClass("show");
            setTimeout(function(){ $('#snackbar').removeClass("show"); }, 3000);
            $('.comments').append('<b>Username:</b> ' + com.comments[com.comments.length - 1].username + ' <br />');
            $('.comments').append('<b>Comment:</b> ' + com.comments[com.comments.length - 1].text + ' <br />');
            $('.comments').append('<br />');
        });
    </script>


    <script>
        var link = "/show/{{{_title}}}/add-review";
            document.getElementById("addreview").onclick = function () {
            location.href = link;
        };;

        /*var link2 = "/show/{{{_title}}}/add-comment";
        document.getElementById("addcomment").setAttribute("href", link2);*/
    </script>

</article>