<article class="showdisplay">
    <h1 id="title">Title: {{_title}} </h1>

    <li>Network: {{_network}}</li>
    <li>Actor(s): {{_actors}}</li>
    <li>Genre(s): {{_genres}}</li>
    <li>Primary language: {{_language}}</li>
    <li>Rating (as seen on IMDb): {{_rating}}</li>

    <h1>Reviews:</h1>
    <a id="addreview" href="">Add new review.</a>

    {{#each _reviews}}
    <div class="review"> 
        <b>Author:</b> {{this.author}}
        <b>Publisher:</b> {{this.publisher}}
        <b>Rating:</b> {{this.rating}}
        <b>Review:</b> {{this.text}}
    </div>
    {{/each}}

    <h1>Comments:</h1>
    <a id="addcomment" href="">Add a comment.</a>

    {{#each _comments}}
    <div class="comments"> 
        <b>Username:</b> {{this.username}}
        <b>Comment:</b> {{this.text}}
    </div>
    {{/each}}

<script> 
    var link = "/show/{{{_title}}}/add-review";
    document.getElementById("addreview").setAttribute("href", link);

    var link2 = "/show/{{{_title}}}/add-comment";
    document.getElementById("addcomment").setAttribute("href", link2);
</script>

</article>